.card {
  width: 100%;
  display: flex;
  cursor: pointer;
  border-radius: 0.75rem;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: var(--color-bg);
}

.thumbnail {
  width: 200px;
  flex-shrink: 0;
  background-color: var(--color-background);
}

.cardBody {
  padding: 0.5rem 0.75rem;
}

.meta {
  padding: 0.5rem 0;
}

.title {
  margin: 0;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.2;
  color: var(--color-text-primary);
}

.description {
  margin: 0.25rem 0 0;
  font-size: 0.75rem;
  line-height: 1.2;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-clamp: 2;
  color: var(--color-text-secondary);
}

.settingsIconWrapper {
  color: var(--color-text-secondary);
  display: flex;
  padding: 24px;
  height: 100%;
  align-items: center;
  margin-left: auto;
}

.settingsIconBackground {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 999px;
  transition: background-color 0.2s;
}

.settingsIconBackground:hover {
  background-color: var(--color-surface);
}